
    h1

    {
        font-family: 'Merriweather';
        font-style: normal;
        font-weight: 900;
        font-size: 40px;
        line-height: 121.1%;
        text-align: center;
        color: #263238;
    }

    h2 

    {
        position:relative;
        line-height: 35.12px;
        font-family: 'Merriweather';
        font-weight: 700;
        font-style: normal;
        font-size: 29px;
        width: 341px;
        
    }

    h3

    {
        color: #263238;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19.38px;
        height: 86px;
        width: 225px;
    }

    h4

    {
        font-family: 'Merriweather';
        font-size: 40px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
    }

    h5 

    {
        font-family: Roboto;
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
    }
    
    h6

    {
        position: relative;
        font-family: 'Merriweather';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        
    }

    p1 
    {
        font-family: 'Merriweather';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        height: 20px;
        width: 96.38px;
    }
        
    p2 

    {
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
    }

    p3 

    {
        font-family: 'Merriweather';
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 20px;
        letter-spacing: 0em;
        text-align: left;
        color: #92E3A9;
    }

    p4

    {
        font-family:'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 19px;
        letter-spacing: 0em;
        text-align: left;
        height: 114px;
        width: 229px;
    }

    p5

    {
        position: relative;
        width: 229px;
        height: 167px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;

    }

    .knd

    {
        position: relative;
    }
        
    input

    {
        width: 350;
        height: 40;
    }

    textarea

    {
        width: 350;
        height: 82;
    }
      
    .btn-default

    {
        background-color: #263238;
        color: #92E3A9;
        border-color: rgb(38, 50, 56);
    }

    .btn-default2

    {
        background-color: #263238;
        color: #92E3A9;
        border-color: rgb(38, 50, 56);
        width:126px ;
        height:40px ;
    }
      
    .btn-default3
        
    {
        background-color: #263238;
        color: #92E3A9;
        border-color: rgb(38, 50, 56);
        width: 218.08px;
        height: 40px;
           
    }

    .btn-light

    {
        background-color: rgb(255, 255, 255);
        color: #263238;
        border-color: rgb(255, 255, 255);
    }

    .btn-light:hover

    {
        background-color:rgb(255, 255, 255);
        color: #263238;
        border-color: rgb(255, 255, 255);
    }

    .btn-default1

    {
        background-color: #92E3A9;
        color: #263238;
        border-color: #92E3A9
    }

    .product-holder 

    { 
        position: relative;
        display: block;
    }

    .under 

    {
        position: relative;
        left: 0px;
        top: 0px;
    }

    .over

    {
        position: relative;
        left: 16.5px;
        top: -38.5px;
    }   

    .over1
    {
        position: relative;
        left:13.5px;
        top:-38px;
    }

    .over2
    {
        position: relative;
        left: 15px;
        top: -41.5px;
    }

    .img2
       
    {
        display: none;
    }

@media only screen and (max-width: 786px)

{
    /* Cum functioneaza? */
    h1 

    {
        font-family: 'Merriweather';
        font-size: 28px;
        font-style: normal;
        font-weight: 900;
        line-height: 34px;
        letter-spacing: 0em;
        text-align: left;
        width: 360px; ;
    }

    /*Ai tupeu si crezi ca poti aduce imbunatatiri la platforma?  */
    h2 

    {
        position:relative;
        font-family: 'Merriweather';
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: 24px;
        text-align: center;
        max-width: 75vmin;
    }

    /*  Trimite-ne un mail si roaga-te sa nu ne apuce rasul*/
    h3

    {
        color: #263238;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 19.38px;
        text-align:center;
        max-width: 75vmin;
        margin-left:7.5%;

    }
    /*cumparatul de teme*/
    h4 
    {
        color: rgb(38, 50, 56, 1);
        font-family: 'Merriweather';
        font-style: normal;
        font-size: 40px;
        font-weight: 900;
        line-height: 121.1%;
        text-align: center;
    } 
/* Platforma ideala pentru studentii de la Politehnica */
    h5 
    {
        font-family: 'Roboto';
        font-size: 16px;
        font-style: normal;
        font-weight: 300;
        line-height: 18px;
        text-align: center;
    }
            
    .knd

    {
        max-width: 95vmin;
    }
            
    .btn

    {
        display:block;
        width:100%;
    }            

    .btn-default

    {
        display:block;
    }

    .btn-light

    {
        display: block;
    }           

    .img2
    {
        display:block;
    }
    
    .modal-dialog

    {
        max-width: 90vmin;
        padding-left: 3.5%;
    }            

}
        